.app_header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.app_header > form {
  width: 40%;
}

.task_input {
  font-size: 20px;
  font-weight: bold;
  background: #161B22;
  color: #fff;
  border: 2px solid #58A6FF;
  border-radius: 5px;
  padding: 8px 12px;
  margin-bottom: 15px;
  width: 100%;
}

.task_input::placeholder {
  color: #8B949E;
}

.task_form_bottom_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task_status {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #161B22;
  border: 2px solid #58A6FF;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  padding: 0 5px;
}

.task_submit {
  font-size: 16px;
    font-weight: bold;
    background-color: #161B22;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    padding: 3px 13px;
    margin-left: 10px;
    border: 2px solid #58A6FF;
    cursor: pointer;
    justify-content: space-between;
}
