.task_card {
  color: #C9D1D9;
  width: 100%;
  min-width: 100px;
  background-color: #161B22;
  border: 1px solid #58A6FF;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

.task_text {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

.task_delete {
  margin-top: 20px;
  background: #1F6FEB;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.task_delete:hover {
  background-color: #F85149;
}

.delete_icon {
  width: 20px;
  opacity: 50%;
  transition: all 0.3s ease-in-out;
}

.task_delete:hover .delete_icon {
  opacity: 80%;
}

.tag {
  margin-bottom: 10px;
}
